html
{
    min-height:100%;  
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    height:100%;
    display: flex;
    flex-direction: column;
}

content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

content column
{
    max-width: 800px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

card
{
    display: block;
    margin-top: 16px;
    padding: 16px;
    background-color: #EEE;
    border-radius: 8px;
    color: #666;
    border: rgba(0,0,0,0.15) solid 1px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 2px;
}

card.topic
{
    background-color: #CDF;
    color: #468;
}

card.topic h1
{
    margin-top: 0px;
    letter-spacing: -0.05em;
}


card.question
{
    display: flex;
    flex-direction: row;
}

card.question h1 
{
    width: 180px;
    text-align: center;
    padding-right: 24px;
}

card.question p
{
    margin-top: 0px;
}

card.question .author
{
    font-size: 10pt;
    font-style: italic;
    vertical-align: top;
    line-height: 32px;
}

card spinner
{
    margin-top: 0px;    
    font-size: 24pt;
    font-weight: bold;
    padding-top: 8px;
    margin-right: 12px;
    text-align: center;
}

card spinner a
{
    color: inherit;
    text-decoration: none;
}

footer 
{
    background-color: #48F;
    color: #FFF;
    padding: 8px;
    text-align: center;
    font-size: 10pt; 
}

header
{
    background-color: #48F;
    color: #FFF;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .small
{
    height: 80px;
}

header.small h3
{
    margin: 0px;
    font-size: 24pt;
    letter-spacing: -0.05em;
}

header logo
{
    display: block;
}

header logo img
{
    aspect-ratio: 1;
}

header logo h1
{
    margin: 4px;
    font-size: 28pt;
    font-weight: bold;
    margin-top:0px;
    letter-spacing: -0.05em;
}

header logo h2
{
    margin: 4px;
    font-weight: normal;
    font-size: 12pt;
    font-style: italic;
}

button
{
    background-color: rgba(255, 255, 255, 0.14);
    box-shadow: rgb(0, 47, 128) 0px 1px 2px;
    color: #FFF;
    font-weight: bold;
    padding: 12px;
    font-size: 16px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1px;
}

button:hover
{
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: rgb(0, 47, 128) 0px 2px 4px;
    margin-top: 0px;
}

button:active
{
    background-color: rgba(255, 255, 255, 0.22);
    box-shadow: rgb(0, 47, 128) 0px 0px 2px;
    margin-top: 2px;
}

.disabled
{
    filter: saturate(0.0);
}

small
{
    display: inline;
    font-size: 12px;
}

textarea 
{
    font-family: Arial, Helvetica, sans-serif;
}

card-title
{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.ask-button
{
    border-radius: 8px;
    background-color: #1A1;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    margin-top: 12px;
    flex-shrink: 1;
    cursor: pointer;
}