            <card class="question">
                <spinner>
                    <a href="/{{room}}/{{question.id}}/upvote">▲</a>{{question.score}}<a href="/{{room}}/{{question.id}}/downvote">▼</a>
                    <br/><a href="#" class="disabled">⭐</a>
                </spinner> 
                <p>
                    <span class="author">by {{ question.author }}:<br/></span>
                    {{ question.text }}
                </p>
            </card>