<card class="topic">
    <h1>A really good session about life</h1>
    <p>
        <i>This session is about life, 42, big questions and nothing unanswered. It is presented by Yours Truly, a PhD in life meaning</i>
    </p>
    <a href="#">SHOW QR CODE</a>
</card>