            <script>
                window.onload = () =>
                {
                    document.getElementById("ask-form").hidden = true;
                };

                function showAsk() 
                {
                    document.getElementById("ask-form").hidden = false;
                    document.getElementById("ask-button").hidden = true;
                }

            </script>
            <div style="display: flex; flex-direction: grow;">
                <div id="ask-button" class="ask-button" onclick="showAsk()">Ask a new Question</div>
                <div style="flex-grow: 1;"></div>
            </div>            
            <form id="ask-form" action="/" method="POST">
            <card class="question">
                <div style="flex-grow: 1; margin-right: 12px;">
                    <card-title>Ask a new Question</card-title>
                    <small>Your question:</small><br/>
                    <input type="hidden" id="action" name="action" value="ask" />
                    <textarea id="question" name="question" rows="4" style="width: 100%;">What is the question?</textarea>
                    <div style="display: flex; flex-direction: row; margin-top:12px;">
                        <div style="flex-grow: 1;"></div>
                        <input type="submit" value="Submit your question" />
                    </div>
                </div>
            </card> 
            </form>