<header>
    <div><!-- Left --></div>
    <logo>
        <div>
            {% if session.username  %}
            Hello, {{ session.username }}
            {% endif %}
        </div>
        <img src="{{ url_for('static', filename='images/kyuene-logo-big.png')}}" />
        <h1>{{ config.InstanceName }}</h1>
        <h2>{{ config.Subtitle }}</h2> 
    </logo>
    <div><!-- Right --></div>
</header>
