<header class="small">
    <img src="{{ url_for('static', filename='images/kyuene-logo-big.png')}}"  width="48px" height="48px"/>
    <div>
        <h3>{{ config.InstanceName }}</h3><small>{{config.Subtitle}}</small>
    </div>
    <div style="flex-grow: 2;" style="text-align: center;">
        {% if session.username  %}
        Hello, {{ session.username }}
        {% endif %}
    </div>
    <div>
        <button>Create Session</button>
    </div>
</header>