<html>
    {% include 'html-head.html' %}
<body>
    {% include 'header-small.html' %}
    <content>
        <column>
        {% include 'card-topic.html' %}    
        {% include 'card-ask.html' %}
        {% for question in questions %}
            {% include 'card-question.html' %}    
        {% endfor %}
        </column>
    </content>
    {% include 'html-footer.html' %}
</body>
</html>
