<html>
    {% include 'html-head.html' %}
<body>
    {% include 'header.html' %}
    <content>
        <column>
            <form action="/" method="POST">
                <card class="question">
                    <div style="flex-grow: 1; margin-right: 12px;">
                        <card-title>Hello ! What is your name?</card-title>
                        <small>What name should we display you?</small><br/>
                        <input type="text" id="username" name="username" value="Your Name" />
                        <input type="hidden" id="action" name="action" value="login" />
                        <div style="display: flex; flex-direction: row; margin-top:12px;">
                            <div style="flex-grow: 1;"></div>
                            <input type="submit" value="Log in" />
                        </div>
                    </div>
                </card> 
            </form>
        </column>
    </content>
    {% include 'html-footer.html' %}
</body>
</html>
