<html>
    {% include 'html-head.html' %}
<body>
    {% include 'header.html' %}
    <content>
        <column>
            <form action="/" method="POST">
                <card class="question">
                    <div style="flex-grow: 1; margin-right: 12px;">
                        <card-title>Should we create a room? Or join an existing one?</card-title>
                        <small>What is the Identifier of the Room?</small><br/>
                        <input type="text" id="room" name="user" value="AJollyRoomName" />
                        <div style="display: flex; flex-direction: row; margin-top:12px;">
                            <div style="flex-grow: 1;"></div>
                            <input type="submit" value="Join *" />
                        </div>
                        <small>*If the Room does not exist, it will be created automatically</small>
                    </div>
                </card> 
            </form>
        </column>
    </content>
    {% include 'html-footer.html' %}
</body>
</html>
